* {
    margin:0;
    padding: 0;
}
html {
    font-family: Georgia, serif;
}
h1,h2,h3 {
    font-family: Montserrat;
    letter-spacing: 2px;
}

/*.row {*/
    /*max-width: 1140px;*/
    /*margin: 0 auto;*/
/*}*/
.logo {
    padding: 20px 0;
}
.logo img{
    display:block;
    margin:auto;
}
.banner {
    background-color: #d7d7d7;
}
.banner img {
    width: 100%;
}

.content {
    background-color: #d7d7d7;
}
.content-heading {
    text-align:center;
    padding: 20px 0;
}

.content-list {
    /*margin:10px;*/
    /*margin:20px 0;*/
    /*padding:10px;*/
}
.content-list img {
    width: 100%;

}

.content-list-heading {
    padding: 10px 30px;
}
.content-list-content {
    padding: 10px 30px;
    font-size: small;
}



