<!DOCTYPE html>
<html lang="en" ng-app="FEDTest">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/Grid.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="script/app.js"></script>
    <script src="script/fedtestCtrl.js"></script>

    <title>FEDTest</title>
</head>
<body ng-controller="fedtestCtrl">
<div class="row logo">
    <img src="logo_lem.png" height="89" width="362"/>
    </div>
<div class="row banner">
    <img src="banner.jpg" height="578" width="1276"/>
</div>
<div class="row content">
    <div class="content-heading">
        <h2>FEATURED</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-2 content-list" ng-repeat="cat in cats | orderBy:'id'">

            <img ng-src="{{cat.image}}" alt="Cat Image"/>
            <div class="content-list-heading">
                <h3>{{cat.heading | uppercase}}</h3>
            </div>
            <div class="content-list-content">
                <p>{{cat.content}}</p>
            </div>

        </div>
    </div>
</div>
</body>
</html>